<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="AuthUri" value="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id={clientId}%26redirect_uri={redirectUri}%26response_type=code%26scope={scope}"/>
  <add key="TokenUri" value="https://login.microsoftonline.com/common/oauth2/v2.0/token"/>
  <add key="ClientId" value="your_client_id"/>
  <add key="ClientSecret" value="your_client_secret"/>
  <add key="RedirectUri" value="https://localhost:44307/Auth"/>
  <add key="Scopes" value="openid User.Read Mail.Read"/>
  <add key="MailBoxApi" value="https://graph.microsoft.com/v1.0/me/mailfolders/inbox/messages"/>
  <add key="Email" value="test@gmail.com"/>
  <add key="Pwd" value="***"/>
  <add key="ExchangeUri" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
  <add key="PageSize" value="50"/>
</appSettings>